@{
    ViewData["Title"] = "FAST Equipment Tool";
}

<h1>FAST Equipment Tool</h1>
<p>This application allows FAST students and professors to request to borrow IT equipment.</p>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Home/AvailableEquipment">Available Equipment</a></li>
        <li><a href="/Home/RequestForm">Request Form</a></li>
        <li><a href="/Home/Requests">View Requests</a></li>
    </ul>
</nav>
