@using Microsoft.AspNetCore.Mvc
@{
    ViewData["Title"] = "Home";
}

<h1>FAST Equipment Tool</h1>
<p>This application allows FAST students and professors to request IT equipment.</p>

<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Home" asp-action="AllEquipment">All Equipment Listing</a></li>
        <li><a asp-controller="Home" asp-action="AvailableEquipment">Available Equipment</a></li>
        <li><a asp-controller="Home" asp-action="RequestForm">Request Form</a></li>
    </ul>
</nav>
